@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4rem 6rem 4fr;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.header, .nav,
.card, .announcement,
.trending-user {
    background-color: #f7fee7;
}

.header {
    padding-left: 32px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 48px;
}

.search {
    display: grid;
    align-items: center;
    margin: 16px;
}

.search input{
    background-color: #bef264;
    border-radius: 16px;
    border: none;
    padding: 8px;
    grid-column: 1 / 1;
}

.user-tab {
    display: grid;
    align-items: center;
    grid-template-columns: min-content min-content max-content;
    grid-column: 2 / 2;
    justify-content: center;
    gap: 16px;
}

.user-pfp {
    height: 50px;
    width: auto;
    border-radius: 32px;
}

.dashboard {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 1 / 5;
    grid-template-rows: min-content min-content min-content;
    background-color: #84cc16;
    color: #f7fee7;
    font-size: 1.5rem;
}

.dashboard h2, li {
    display: flex;
    align-items: center;
    margin: 8px;
}

.dashboard ul {
    padding: 0;
    margin: 24px;
}

.nav {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-left: 32px;
    justify-content: space-around;
}

.user-greet {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 16px;
}

.nav button {
    background-color: #84cc16;
    border-style: none;
    border-radius: 16px;
    width: 96px;
    padding: 8px;
    height: min-content;
    font-size: 1rem;
    color: #f7fee7;
    font-weight: bold;
}

.nav-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 32px 1fr 32px 1fr;
    gap: 32px;
    background-color: #65a30d;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-right: 64px;
}

.article h3 {
    font-size: 1.5rem;
}

.project-cards {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 32px;
}

.card {
    border-radius: 8px;
    padding: 16px;
}

.announcements {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.announcements-container {
    display: grid;
    border-radius: 8px;
    border: #f7fee7 18px solid;
}

.trending {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 4 / 4;
    border-radius: 8px;
    border: #f7fee7 18px solid;
}
